.model-continer {
  height: calc(100% - 8px);
  color: var(--th-color-font-light);
  position: absolute;
  top: 8px;
  left: 4px;
  display: flex;
  align-items: flex-start;
  &-menu {
    height: auto;
    padding: 8px;
    background-color: var(--th-color-menu-bg);
    margin-top: 4px;
    margin-left: 4px;
    border-radius: var(--border-radius-small);
    .th-menu-icon {
      margin: 4px 0px 0px !important;
    }
  }
  &-body {
    width: 240px;
    height: 100%;
    background-color: var(--th-color-menu-bg);
    border-radius: var(--border-radius-small);
  }
  &.un-show {
    left: -240px;
    transition: all 0.5s ease-in-out;
  }
  &.show {
    transition: all 0.5s ease-in-out;
  }
}
