.model-container {
  height: calc(100% - 8px);
  color: var(--th-color-font-light);
  position: absolute;
  top: 8px;
  left: 4px;
  display: flex;
  align-items: flex-start;
  &-menu {
    height: auto;
    padding-top: 3px;
    padding-left: 2px;
    background-color: var(--th-color-menu-bg);
    margin-top: 124%;
    margin-left: 4px;
    border-radius: var(--border-radius-small);
  }
  &-body {
    width: 240px;
    height: 100%;
    background-color: var(--th-color-menu-bg);
    border-radius: var(--border-radius-small);

    .ant-tabs-nav {
      margin: 0px;
      .ant-tabs-tab-active {
        font-weight: 600;
      }
    }
    .border-box-content {
      overflow-y: scroll;
    }
  }
  &.un-show {
    left: -242px;
    transition: all 0.5s ease-in-out;
  }
  &.show {
    transition: all 0.5s ease-in-out;
  }
}
