.model-continer {
  height: calc(100% - 50px);
  color: var(--th-color-font-light);
  position: absolute;
  top: 50px;
  left: 4px;
  display: flex;
  align-items: flex-start;
  &-menu {
    height: auto;
    padding: 8px;
    background-color: var(--th-color-menu-bg);
    margin-top: 4px;
    margin-left: 4px;
    border-radius: var(--border-radius-small);
    .th-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      font-size: 20px;
      margin-top: 4px;
      &.active {
        background-color: #353535;
      }
    }
  }
  &-body {
    width: 240px;
    height: 100%;
    background-color: var(--th-color-menu-bg);
  }
  &.un-show {
    left: -248px;
    transition: all 0.5s ease-in-out;
  }
  &.show {
    transition: all 0.5s ease-in-out;
  }
}
