@font-face {
  font-family: "iconfont"; /* Project id 4333929 */
  src: url('iconfont.woff2?t=1700817262681') format('woff2'),
       url('iconfont.woff?t=1700817262681') format('woff'),
       url('iconfont.ttf?t=1700817262681') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.th-gengduo-shuxiang:before {
  content: "\e8c4";
}

.th-chexiao:before {
  content: "\e641";
}

.th-tianjia:before {
  content: "\e622";
}

.th-liebiaoqiehuan:before {
  content: "\e62f";
}

.th-fullscreen-exit-line:before {
  content: "\e60a";
}

.th-fullscreen-line:before {
  content: "\e60b";
}

.th-ditudingwei:before {
  content: "\e8a4";
}

.th-shoushoushi:before {
  content: "\e6cf";
}

.th-jianpan:before {
  content: "\eaa0";
}

