.toolbar-continer {
  height: 46px;

  position: absolute;
  top: 8px;
  left: 50%;
  background-color: var(--th-color-menu-bg);
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  transform: translate(-50%, 0);
}
