.th-loading {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-25%);
  z-index: 999;
  &.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  &-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
