.th-editor {
  height: 100vh;
  overflow: hidden;
  canvas {
    display: block;
  }
}
.mask-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  &-item {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--th-color-mask-bg);
    transition: all 1s ease-in-out;
    z-index: 9999;
    &.left {
      left: 0px;

      &.hidden {
        left: -50%;
      }
    }
    &.right {
      right: 0;

      &.hidden {
        right: -50%;
      }
    }
  }
}
.main-container {
  height: 100vh;
}

.th-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  margin: 0px 8px;

  cursor: pointer;
  &:hover {
    background-color: #353535;
    border-radius: var(--border-radius-small);
  }

  &.active {
    background-color: #353535;
    border-radius: var(--border-radius-small);
  }
}
::-webkit-scrollbar {
  display: none;
}
