body[data-theme='dark'] {
  --th-colo-primaryr: #525252;
  --th-color-white: #ffffff;
  --th-color-black: #000000;
  --th-color-mask-bg: #000000;
  --th-color-menu-bg: #1f1f1f;

  --th-color-font-light: #ffffff;
    --th-color-font-black: #000000;

  --th-border-color: #e0e0e0;
  --th-border-color-light: #e5e5e5;
  --th-border-color-black: #000000;
  //icon
  --th-icon-light-color: #ffffff;
  // 圆角
  --border-radius-small: 4px;
  --border-radius-large: 8px;
  --border-radius-round: 16px;

  --box-shadow-little: 0px 2px 6px 0px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
}
