.setting-continer {
  height: calc(100% - 8px);
  color: var(--th-color-font-light);
  position: absolute;
  top: 8px;
  right: 4px;
  display: flex;
  align-items: flex-start;
  &-menu {
    height: auto;
    padding-top: 3px;
    padding-right: 2px;
    background-color: var(--th-color-menu-bg);
    margin-top: 100%;
    margin-right: 4px;
    border-radius: var(--border-radius-small);
  }
  &-body {
    width: 300px;
    height: 100%;
    background-color: var(--th-color-menu-bg);
    border-radius: var(--border-radius-small);
    .scene-continer {
      padding: 8px;
      .model-list {
        padding: 8px;

        height: 300px;
        background-color: var(--th-color-light-bg);
        border-radius: var(--border-radius-small);
        .ant-tree {
          margin-top: 16px;
          height: calc(100% - 46px);
          overflow-y: scroll;
        }
      }
      .model-attr {
        .ant-tabs-tab-btn {
          font-size: 12px;
        }
        .ant-input {
          height: 24px;
          color: var(--th-color-input-text);
          background-color: var(--th-color-input-bg);
        }
        .bottom-continer {
          height: 290px;
          padding: 8px;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
          .row {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            label {
              width: 20%;
            }
            .value {
              width: 80%;

              display: flex;
              &.one {
                .ant-input-number {
                  margin-left: 0px;
                }
              }
              &.uuid {
                overflow: hidden;
                white-space: nowrap;
                width: 60%;
              }
            }
          }
          &.geometry {
            .label {
              width: 30%;
            }
          }
          &.material {
            .label {
              width: 30%;
            }
            .value {
              width: 70%;
            }
          }
        }
      }
    }

    .ant-tabs-nav {
      margin: 0px;
      padding-left: 32px;
      // .ant-tabs-tab-btn {
      //   margin: 0 0 0 32px;
      // }
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          font-weight: 600;
        }
      }
    }
  }
  &.un-show {
    right: -302px;
    transition: all 0.5s ease-in-out;
  }
  &.show {
    transition: all 0.5s ease-in-out;
  }
}
