.scene-continer {
  padding: 8px;
  .model-list {
    padding: 8px;

    height: 300px;
    background-color: var(--th-color-light-bg);
    border-radius: var(--border-radius-small);
    .ant-tree {
      margin-top: 16px;
      height: calc(100% - 46px);
      overflow-y: scroll;
    }
  }
}
